<div class="mx-auto md:w-2/3 w-full">

  <%= render 'progress', steps: 3, step_title: 'CONTACT INFORMATION', current_step: 2 %>

  <div class="pt-10">
    <p>It looks like we already have an application for you in our system.</p>
    <p>Please contact admissions@meritamerica.org to reactivate your application.</p>
  </div>

</div>
