<div class="mx-auto  w-full">

  <%= render 'progress', steps: 3, step_title: 'COMPLETE', current_step: 3 %>

  <div class="pt-10">
    <p>Thanks for your application, <%= @user.first_name %>.</p>
    <p>
      At this time, Merit America programs are not available to those with advanced degrees.
    </p>
  </div>

</div>
