<div class="mx-auto md:w-2/3 w-full">

  <%= render 'progress', steps: 3, step_title: 'COMPLETE', current_step: 3 %>

  <div class="pt-10">
    <p>Step one complete!</p>
    <p>You'll hear back from us within 24 hours regarding the status of your application</p>
  </div>

</div>
