@tailwind base;
@tailwind components;
@tailwind utilities;

label.required:after {
  content: "*";
}

main.container {
  max-width: 500px;
}

.bar-divider {
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
}

.bar.filled {
  @apply bg-gray-500;
}
