@tailwind base;
@tailwind components;
@tailwind utilities;

label.required:after {
  content: "*";
}

main.container {
  max-width: 350px;
}

.bar-divider {
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
}

.bar.filled {
  @apply bg-gray-500;
}

.field_with_errors input {
  @apply border-2;
  @apply border-red-500;
}

input.field_with_errors {
  @apply border-2;
  @apply border-red-500;
}
